body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
}

/* Nav Bar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin:auto;
}

.nav-bar {
  background-color: #0e2e77;
}

nav ul {
  display: flex;
}

nav a,
nav ul li {
  color: #ffff;
  text-decoration: none;
}

nav a:hover,
nav ul li:hover {
  color: #57c0a9;
}

nav ul li {
  list-style-type: none;
  margin: 1em;
  text-decoration: none;
}

/* End Nav Bar Styles */
img {
  width: 80%;
}

.info {
  width: 70%;
  border: 1px solid black;
}

.home-bottom {
  display: flex;
  justify-content: center;
}

/* Total Donations */

.donations-container {
  padding: 0 1em;
  box-shadow: 0 0.3125rem 1rem -0.1875rem rgb(0 0 0 / 20%);
  background-color: #53bda6;
  opacity: 0.8;
  border-radius: 5px;
}

.donations-list {
  padding-left: 0;
}

.donations-list .amount {
  font-weight: bold;
  padding-left: 0.5em;
}

.donors {
  display: flex;
  justify-content: space-between;
}

.donations-list li {
  list-style-type: none;
}

/* End Total Donations */
