@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 70px;
}

li {
  list-style-type: none;
}

/* Nav Bar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin:auto;
  font-size: 20px;
  height: 70px;
}

.logo {
  width: 1.2em;
  margin-right: 10px;
}

.logo-link {
  font-size: 22px;
  display: flex;
  align-items: center;
}

.logo-link:hover {
  color: #ffff;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e2e77;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  z-index: 10;
}

nav ul {
  display: flex;
}

ul {
  padding-left: 0;
}

.clap {
  height: 30px;
  width: 30px;
}

.message-container {
  display: flex;
  justify-content: space-between;
}

.shoutouts-container {
  max-width: 75%;
  margin: auto;
}

nav a,
nav ul li {
  color: #ffff;
  text-decoration: none;
}

nav a:hover,
nav ul li:hover {
  color: #57c0a9;
}

nav ul li {
  margin: 1em;
  text-decoration: none;
}

nav button {
  margin-top: 0.8em;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 10rem;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(0deg, #3da991, #71dac4);
  color: #fff;
}

/* End Nav Bar Styles */

/* Mainstage Styles */
.mainstage {
  color: white;
}

.mainstage img {
  width: 100%;
}

.mainstage h2 {
  font-size: 2.5rem;
  padding: 1.5rem;
}

.mainstageBox {
  text-align: center;
  background-color: rgba(11, 49, 139, 0.9);
  position: absolute;
  width: 30%;
  height: 40%;
  top: 25%;
  right: 13%;
  border-radius: 5px;
}

.mainstage button {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(0deg, #3da991, #71dac4);
  color: #fff;
}

/* End of Mainstage Styles */

.info {
  width: 60%;
  background-color: rgba(240, 245, 249, 1);
}

.infotext {
  width: 80%;
  margin: auto;
  margin-top: 17px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #f0f0f0;
  box-shadow: 8px 8px 6px #f0f0f0;
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info h2 {
  font-size: 30px;
}

.home-bottom {
  display: flex;
  justify-content: center;
}

/* Total Donations */

.donations-container {
  padding: 0 1em;
  box-shadow: 0 0.3125rem 1rem -0.1875rem rgb(0 0 0 / 20%);
  background-color: #53bda6;
  opacity: 0.8;
  border-radius: 5px;
}

.donations-list {
  padding-left: 0;
}

.donations-list .amount {
  font-weight: bold;
  padding-left: 0.5em;
}

.donors {
  display: flex;
  justify-content: space-between;
}

.donations-list li {
  list-style-type: none;
}

/* End Total Donations */

.login-container {
    width: 400px;
    padding: 2rem 3.5rem;
    background-color: rgba(15,49,129,.9);
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translateY(50%);
    margin: auto;
}

.login-container input[type="email"] {
  margin-top: 1em;
}

.login-container h2 {
  margin: 0;
  text-align: center;
}

.login-container button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(0deg,#3da991,#71dac4);
  color: #fff;
  margin-top: 0.5em;
  width: 50%;
  margin: auto;
  margin: 0 0.1em;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 0.5em;
}

.login-container input {
  height: 1.5rem;
  width: 21.5rem;
  margin-top: 0.5em;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10rem;
  color: #ffff;
  font-size: 1.2rem;
  background-color: hsla(0,0%,100%,.15);
}

input::placeholder {
  color: #ffff !important;
}

.payments-container {
    width: 400px;
    padding: 2rem 3.5rem;
    background-color: rgba(15,49,129,.9);
    box-shadow: 0 15px 25px rgb(0 0 0 / 60%);
    border-radius: 10px;
    color: #ffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    transform: translateY(20%);
    margin: auto;
}

.payments-container input {
  height: 1.5rem;
  width: 21.5rem;
  margin-top: 0.5em;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10rem;
  color: #ffff;
  font-size: 1.2rem;
  background-color: hsla(0,0%,100%,.15);
}

.payments-container h2 {
  text-align: center;
  margin: 0;
}

.payments-container button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 0.8rem;
/* Account Details Page */
  margin: 10px;
}

.donations-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
}

.shoutouts-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
}

.user-details h2 {
  font-size: 30px;
}

.account-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgba(240, 245, 249, 1);
}

.btn-sidebar {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(0deg,#3da991,#71dac4);
  color: #fff;
  margin-top: 0.5em;
  width: 50%;
  margin: auto;
  margin-top: 1em;
}
  

.table-cell {
  border: 1px solid rgb(139, 156, 172);
  padding: 5px;
}
