body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
}

/* Nav Bar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin:auto;
}

.nav-bar {
  background-color: #0e2e77;
}

nav ul {
  display: flex;
}

nav a,
nav ul li {
  color: #ffff;
  text-decoration: none;
}

nav a:hover,
nav ul li:hover {
  color: #57c0a9;
}

nav ul li {
  list-style-type: none;
  margin: 1em;
  text-decoration: none;
}

/* End Nav Bar Styles */
img {
  width: 80%;
}

.info {
  width: 70%;
  border: 1px solid black;
}

.home-bottom {
  display: flex;
  justify-content: center;
}

/* Total Donations */

.donations-container {
  padding: 0 1em;
  box-shadow: 0 0.3125rem 1rem -0.1875rem rgb(0 0 0 / 20%);
  background-color: #53bda6;
  opacity: 0.8;
  border-radius: 5px;
}

.donations-list {
  padding-left: 0;
}

.donations-list .amount {
  font-weight: bold;
  padding-left: 0.5em;
}

.donors {
  display: flex;
  justify-content: space-between;
}

.donations-list li {
  list-style-type: none;
}

/* End Total Donations */

/* Account Details Page */

.donations-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
}

.shoutouts-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
}

.user-details h2 {
  font-size: 30px;
}

.account-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgba(240, 245, 249, 1);
}

.btn-sidebar {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 10rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(0deg,#3da991,#71dac4);
  color: #fff;
  margin: 10px;
}

.table-cell {
  border: 1px solid rgb(139, 156, 172);
  padding: 5px;
}